<!DOCTYPE html>
<html lang="en">
<head>
<title>Patrick's GO Bracket</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <style type="text/css">
      body {
        background: #eee;
        font-family: Helvetica, Arial, sans-serif;
      }
      #footer {
        font-size: 13px;
        color: #aaa;
        text-align: center;
        width: 600px;
        margin: 30px auto;
        padding: 0.5em;
        text-shadow: 0px 1px 1px #fff;
        border-top: 1px dotted #ddd;
      }
      #footer a {
        color: #0af;
        text-decoration: none;
      }
    </style>


</head>

<form action="/SignupSubmit" method="POST" class="form-horizontal">
  <div class="form-group">
    <label for="InputUsername" class="col-sm-4 control-label">Username</label>
    <div class="col-xs-3">
    <input type="text" class="form-control" name="Username" id="InputUsername" placeholder="Username">
    </div>
  </div>

  <div class="form-group">
    <label for="InputEmail" class="col-sm-4 control-label">Email address</label>
    <div class="col-xs-3">
    <input type="email" class="form-control" name="Email" id="InputEmail" placeholder="Email">
    <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>


 <div id="footer">
      <a href="https://github.com/pblaas/golang-bracket">Go Bracket</a> is an open-source <a href="http://golang.org">Go language</a> App by
      <strong><a href="https://github.com/pblaas">Pblaas</a></strong> based on: <br>
      <a href="https://golang.org">Go language</a> |
      <a href="https://www.mongodb.org">MongoDB</a> |
      <a href="https://labix.org/mgo">mgo driver</a> |
      <a href="http://getbootstrap.com/css/">CSS boostrap</a> |
      <a href="https://github.com/teijo/jquery-bracket">Teijo bracket library</a> 
 </div>

</html>
